body{
    font-family: Libre Franklin;
    font-size: 20px;
    padding: 0;
    box-sizing: border-box;
    font-weight:300;
    color:hsl(209, 33%, 12%);
}

.logo {
    padding:10px;
    margin: 0 auto;
    margin-top:40px;
}
.container {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
}

.container img{
    width:100%;
    padding-top:40px;
    padding-bottom:40px;
}

b{
    font-weight: 600;
    color:hsl(209, 33%, 12%);
}

h1{
    font-weight: 300;
    color:hsl(0, 0%, 59%);
    line-height: 1em;
    margin-bottom: 15px;
    margin-top:0;
}

.uinput {
    width:100%;
    margin-top:25px;
    padding:0px;
}

.uinput input {
    border-radius:50px;
    width:50%;
    padding:15px;
    padding-right:0px;
    border:1px solid hsl(0, 0%, 85%);
    font-family:Libre Franklin;
    font-size:12px;
}

.uinput input::placeholder {
    color: hsl(0, 0%, 85%);
}


.uinput input:focus {
    outline: none;
}
.uinput button{
    width:25%;
    padding:15px;
    border-radius:50px;
    background-color: hsl(223, 87%, 63%);
    color:#fff;
    font-weight: 700;
    border:none;
    box-shadow:1px 5px 5px hsl(223, 100%, 88%);
    transition: 0.2s;
}

.uinput button:hover{
    background-color: hsl(223, 100%, 88%);
    color:#fff;
    cursor: pointer;
    transition: 0.2s;
}

@media only screen and (max-width: 600px) {
    .uinput{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .uinput input {
        width:90%;
        margin-bottom:10px;
        
      
    }
    .uinput button{
        width:95%;
        text-align: center;
    }
    .container {
        width:90%;
    }

    h1{
        font-size:1.5em;
    }
    
}